html,body{
    background-color: rgb(116, 82, 149);
    height: 70%;
    width: 80%;
    
}
#main{
    background-color: white;
    height: 800px;
    width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px ;
}
#myname{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 80px;
    color: rgb(15, 12, 12);
}
#main >h3{
    text-decoration:underline;
    font-style: italic;
    padding: 10px 20px;
    font-size:30px;

}
#main >h2{
    font-weight: 600;
    font-size: 50px;
}
.mylist{
    font-weight: 600;
    font-size: 20px;
    font-style: italic;
}
#mybutton{
    height: 40px;
    width: 300px;
    border-radius: 30px;
   padding: 10px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-70%,-50%);
    background-color: brown;
    color: aliceblue;

}
